<nav>
    <a [routerLink]="['from-event']" routerLinkActive="active"> fromEvent </a>
    <a [routerLink]="['buffer']" routerLinkActive="active"> buffer </a>
    <a [routerLink]="['buffer-count']" routerLinkActive="active">
        bufferCount
    </a>
    <a [routerLink]="['buffer-time']" routerLinkActive="active"> bufferTime </a>
    <a [routerLink]="['buffer-toggle']" routerLinkActive="active">
        bufferToggle
    </a>
    <a [routerLink]="['buffer-when']" routerLinkActive="active"> bufferWhen </a>
    <a [routerLink]="['take']" routerLinkActive="active"> take </a>
    <a [routerLink]="['take-last']" routerLinkActive="active"> takeLast </a>
    <a [routerLink]="['take-until']" routerLinkActive="active"> takeUntil </a>
</nav>
<router-outlet></router-outlet>
