<nav>
    <a [routerLink]="['from-event']" routerLinkActive="active"> fromEvent </a>
    <a [routerLink]="['buffer']" routerLinkActive="active"> buffer </a>
    <a [routerLink]="['buffer-count']" routerLinkActive="active">
        bufferCount
    </a>
    <a [routerLink]="['buffer-time']" routerLinkActive="active"> bufferTime </a>
    <a [routerLink]="['buffer-toggle']" routerLinkActive="active">
        bufferToggle
    </a>
    <a [routerLink]="['buffer-when']" routerLinkActive="active"> bufferWhen </a>
    <a [routerLink]="['take']" routerLinkActive="active"> take </a>
    <a [routerLink]="['take-last']" routerLinkActive="active"> takeLast </a>
    <a [routerLink]="['take-until']" routerLinkActive="active"> takeUntil </a>
    <a [routerLink]="['take-while']" routerLinkActive="active"> takeWhile </a>
    <a [routerLink]="['skip']" routerLinkActive="active"> skip </a>
    <a [routerLink]="['skip-last']" routerLinkActive="active"> skipLast </a>
    <a [routerLink]="['skip-until']" routerLinkActive="active"> skipUntil </a>
    <a [routerLink]="['skip-while']" routerLinkActive="active"> skipWhile </a>
    <a [routerLink]="['distinct']" routerLinkActive="active"> distinct </a>
</nav>
<router-outlet></router-outlet>
