<nav>
    <a [routerLink]="['audit']" routerLinkActive="active"> audit </a>
    <a [routerLink]="['audit-time']" routerLinkActive="active"> auditTime </a>
    <a [routerLink]="['buffer']" routerLinkActive="active"> buffer </a>
    <a [routerLink]="['buffer-count']" routerLinkActive="active">
        bufferCount
    </a>
    <a [routerLink]="['buffer-time']" routerLinkActive="active"> bufferTime </a>
    <a [routerLink]="['buffer-toggle']" routerLinkActive="active">
        bufferToggle
    </a>
    <a [routerLink]="['buffer-when']" routerLinkActive="active"> bufferWhen </a>
    <a [routerLink]="['concat-map']" routerLinkActive="active"> concatMap </a>
    <a [routerLink]="['debounce']" routerLinkActive="active"> debounce </a>
    <a [routerLink]="['debounce-time']" routerLinkActive="active">
        debounceTime
    </a>
    <a [routerLink]="['distinct']" routerLinkActive="active"> distinct </a>
    <a [routerLink]="['distinct-until-changed']" routerLinkActive="active">
        distinctUntilChanged
    </a>
    <a [routerLink]="['distinct-until-key-changed']" routerLinkActive="active">
        distinctUntilKeyChanged
    </a>
    <a [routerLink]="['element-at']" routerLinkActive="active"> elementAt </a>
    <a [routerLink]="['filter']" routerLinkActive="active"> filter </a>
    <a [routerLink]="['first']" routerLinkActive="active"> first </a>
    <a [routerLink]="['from-event']" routerLinkActive="active"> fromEvent </a>
    <a [routerLink]="['ignore-elements']" routerLinkActive="active">
        ignoreElements
    </a>
    <a [routerLink]="['last']" routerLinkActive="active"> last </a>
    <a [routerLink]="['map']" routerLinkActive="active"> map </a>
    <a [routerLink]="['map-to']" routerLinkActive="active"> mapTo </a>
    <a [routerLink]="['merge-map']" routerLinkActive="active"> mergeMap </a>
    <a [routerLink]="['merge-map-to']" routerLinkActive="active">
        mergeMapTo
    </a>
    <a [routerLink]="['sample']" routerLinkActive="active"> sample </a>
    <a [routerLink]="['single']" routerLinkActive="active"> single </a>
    <a [routerLink]="['skip']" routerLinkActive="active"> skip </a>
    <a [routerLink]="['skip-last']" routerLinkActive="active"> skipLast </a>
    <a [routerLink]="['skip-until']" routerLinkActive="active"> skipUntil </a>
    <a [routerLink]="['skip-while']" routerLinkActive="active"> skipWhile </a>
    <a [routerLink]="['take']" routerLinkActive="active"> take </a>
    <a [routerLink]="['take-last']" routerLinkActive="active"> takeLast </a>
    <a [routerLink]="['take-until']" routerLinkActive="active"> takeUntil </a>
    <a [routerLink]="['take-while']" routerLinkActive="active"> takeWhile </a>
    <a [routerLink]="['throttle']" routerLinkActive="active"> throttle </a>
    <a [routerLink]="['throttle-time']" routerLinkActive="active">
        throttleTime
    </a>
</nav>
<router-outlet></router-outlet>
