<h2>fromEvent Operator</h2>

<div class="event-container">
    <h3>Click Event:</h3>

    <button #clickButton>Click here</button>

    <div *ngIf="clickClientXTracker$ | async as clickClientXTracker">
        <ng-container *ngFor="let clientX of clickClientXTrackerArray">
            X position: {{ clientX }}
        </ng-container>
    </div>
</div>

<div class="event-container">
    <h3>Wheel Event:</h3>

    <button #wheelButton>Scroll here</button>

    <div *ngIf="wheelClientXTracker$ | async as wheelClientXTracker">
        <ng-container *ngFor="let clientX of wheelClientXTrackerArray">
            X position: {{ clientX }}
        </ng-container>
    </div>
</div>

<div class="event-container">
    <h3>Mouse enter Event:</h3>

    <button #mouseenterButton>Enter mouse here</button>

    <div *ngIf="mouseenterClientXTracker$ | async as mouseenterClientXTracker">
        <ng-container *ngFor="let clientX of mouseenterClientXTrackerArray">
            X position: {{ clientX }}
        </ng-container>
    </div>
</div>

<div class="event-container">
    <h3>Keyup Event:</h3>

    <input #keyupInput type="text" placeholder="type some text" />

    <div *ngIf="keyupCodeTracker$ | async as keyupCodeTracker">
        <ng-container *ngFor="let key of keyupCodeTrackerArray">
            Key pressed: {{ key }}
        </ng-container>
    </div>
</div>
