<nav>
    <a [routerLink]="['operators']" routerLinkActive="active"> Operators </a>
    <a [routerLink]="['subject']" routerLinkActive="active"> Subject </a>
    <a [routerLink]="['behavior-subject']" routerLinkActive="active">
        Behavior Subject
    </a>
    <a [routerLink]="['replay-subject']" routerLinkActive="active">
        Replay Subject
    </a>
    <a [routerLink]="['cold-observable']" routerLinkActive="active">
        Cold Observable
    </a>
    <a [routerLink]="['connectable']" routerLinkActive="active">
        Connectable
    </a>
</nav>

<router-outlet></router-outlet>
